CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Testing

.settings
.cproject
.project
bin
lib
Debug
Release
triangulation2.obj
polygon_triangulation2.obj

/test/test_config.h
/doc/html
/doc/latex
/doc/Doxyfile

/triangulation3d_in_plane.obj

*.3ds

gmon.out

include/SFCGAL

.gdb_history
libSFCGAL.la
sfcgal-config
src/libSFCGAL.so*
test/bench/bench-SFCGAL
test/garden/garden-test-SFCGAL
test/regress/convex_hull/test-regress-convex_hull
test/regress/polygon_triangulator/test-regress-polygon_triangulator
test/regress/standalone/standalone-regress-test-SFCGAL
test/unit/unit-test-SFCGAL
*~